# Ignore dynaconf secret files
.secrets.*
# Ignore config/keys/* files
config/keys/*
# Ignore settings.toml file
settings.toml
# Ignore test/signature_* files
test/signature_*
# Ignore all .pyc files
*.pyc